<head>
<%= javascript_include_tag :defaults %>
</head>
<body>       
<h1>Tweet visualizer</h1>
Paste a twitter message containing links to images.
<form>
	<textarea id="tweet" rows="10" cols="100"></textarea><br>
	<%= link_to_remote 'Show', {:update => "images", :url => {:controller => "example", :action => "images"}, 
	:with => "'tweet=' + $F('tweet')"}%>             

</form>


<div id="images">
</div> 
<p>Created by Raymond van Dongelen. Code can be found on <a href="http://github.com/dongelen/imagize_example">github</a></p>
</body>